#chat {
  --chatToggleBtn: #ff9900;
  --bg-chat: #1e1e1e;
  --bg-header: #000;
  --white: #fff;
  --black: #000;
  --text-user: #000;
  --text-bot: #000;
  --text-title: #fff;
  --bubble-user: #fff;
  --bubble-bot: #ff9900;
  --messageVar-bubble: #ff9900;
  --messageVar-text: #000;
  --bg-messageBox: #000;
  --text-messageBox: #fff;
}

#chat {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0
  }
  button {
    border: 0;
    cursor: pointer;
    background: none;
  }
}
#chat .chat-toggle {
  position: fixed;
  bottom: 32px;
  right: 32px;
  background-color: var(--chatToggleBtn);
  border-radius: 50%;
  height: 56px;
  width: 56px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.15) 0 12px 24px 0;
  &:hover {
    opacity: 0.8;
  }
}
#chat .chat {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.3;
  position: fixed;
  bottom: 24px;
  right: 24px;
  width: 400px;
  height: 80vh;
  max-height: 500px;
  z-index: 999;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: var(--bg-chat);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: scale(0);
  opacity: 0;
  transform-origin: right bottom;
  transition: all 0.3s ease 0s;
  &.open {
    transform: scale(1);
    opacity: 1;
  }
  @media screen and (max-width: 568px) {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    bottom: 0;
    right: 0;
  }
  .chat-header {
    display: flex;
    height: 50px;
    background: var(--bg-header);
    color: var(--text-title);
    padding: 15px;
    gap: 10px;
    align-items: center;
    &-title {
      font-size: 14px;
      font-weight: 500;
    }
    &-avatar {
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-close {
      color: var(--text-title);
      margin-left: auto;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .messages {
    flex: 1 1 auto;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    & .messages-content {
      width: 100%;
      padding: 1em;
    }

    .message {
      display: flex;
      width: 100%;
      margin-bottom: 2px;
      gap: 8px;
      &.last {
        margin-bottom: 10px;
      }
      .message-tail {
        position: absolute;
        display: none;
      }
      &-avatar {
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        align-self: flex-end;
        img {
          width: 100%;
          height: auto;
        }
      }
      &-text {
        animation: 0.3s ease 0s 1 normal forwards running Scale;
        background: #fff;
        border-radius: 15px;
        color: #000;
        display: inline-block;
        font-size: 14px;
        max-width: 60%;
        position: relative;
        padding: 10px;
        transform: scale(0);
        transform-origin: right bottom;
        word-break: break-word;
        white-space: pre-wrap;
      }

      &.message-user {
        justify-content: flex-end;
        .message-text {
          background-color: var(--bubble-user);
          border-radius: 15px 5px 5px 15px;
        }
        .message-avatar {
          order: 1;
        }
        &.last {
          .message-text {
            border-radius: 15px 5px 0 15px;
            .message-tail {
              display: block;
              fill: var(--bubble-user);
              bottom: -1px;
              right: -9px;
              transform: scaleX(-1);
            }
          }
        }
        &.first {
          .message-text {
            border-radius: 15px 15px 5px 15px;
          }
        }
      }
      &.message-bot {

        .message-text {
          background-color: var(--bubble-bot);
          border-radius: 5px 15px 15px 5px;
          transform-origin: left bottom;
        }
        &.last {
          .message-text {
            border-radius: 5px 15px 15px 0;
            .message-tail {
              display: block;
              fill: var(--bubble-bot);
              bottom: -1px;
              left: -9px;
            }
          }
        }
        &.first {
          .message-text {
            border-radius: 5px 15px 15px 5px;
          }
        }
      }

      &.new {
        transform: scale(0);
        transform-origin: 0 0;
        animation: bounce 500ms linear both;
      }

      &.loading {
        &::after {
          content: ". . .";
          color: #ffffff;
          clip-path: inset(0 3ch 0 0);
          animation: l 1s steps(4) infinite;;
          font-size: 14px;
          align-self: center;
        }
        .message-text {
          display: none;
        }
      }
    }
  }
  .message-box {
    height: 50px;
    width: 100%;
    background: var(--bg-messageBox);
    padding: 10px;
    display: flex;
    gap: 20px;
    & .message-input {
      background: none;
      border: none;
      outline: none !important;
      color: var(--text-messageBox);
      font-size: 14px;
      flex: 1;
      margin: 0;
    }

    textarea:focus:-webkit-placeholder {
      color: transparent;
    }

    & .message-submit {
      border: none;
      background: none;
      cursor: pointer;
      svg {
        fill: #ffffff;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .message-variants {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
    &-item {
      border-radius: 20px;
      color: var(--messageVar-text);
      background-color: var(--messageVar-bubble);
      padding: 10px;
      font-size: 12px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  @keyframes Scale {
    100% {
      transform: scale(1);
    }
  }
  @keyframes l {
    to {
      clip-path: inset(0 -1ch 0 0)
    }
  }
}
